@{
    ViewData["Title"] = "Contact Page";
}

<nav class="navbar navbar-dark bg-dark p-2">
    <a class="btn btn-primary mx-2" asp-controller="Contact" asp-action="Create">Create</a>
    <a class="btn btn-success mx-2" asp-controller="Contact" asp-action="List">List</a>
</nav>
